.title {
    font-size: 20px;
    color: #000a12;
    font-style: normal;
    font-family: Times, "Bitstream Vera Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    height: auto;
    width: auto;
}

.dateOfStayText {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 12px 0 0;
    display: inline-block;
    color: #000a12;
    font-weight: bold;
    font-size: 14px;
}

.dateOfStay {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 12px 0 0;
    color: #000a12;
    font-size: 14px;
}

.message {
    font-size: 14px;
    line-height: 20px;
    color: #4a4a4a;
    margin: 0;
    word-wrap: break-word;
    display: block;
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
}

.flexImages {
    display: flex;
    flex-direction: row;
}

.wholeUserReviewMessage {
}

.images {
    border-right: 25px;
    margin: 5px;
    width: 108px;
    height: 72px;
    top: 50%;
    left: 50%;
}

.subjective {
    border-top: 1px solid #e5e5e5;;
    color: #767676;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
}

.tripType {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 12px 0 0;
    display: inline-block;
    color: #000a12;
    font-size: 14px;
}

.tripTypeText {
    font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
    margin: 12px 0 0;
    display: inline-block;
    color: #000a12;
    font-weight: bold;
    font-size: 14px;
}

.ratingsImage {
    height: 16px;
    width: 16px;
}

.ratingsColumn {
    display: flex;
    flex-direction: row;
}
